<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vijf Talen in Vijf Dagen</title>
    <style>
      body, 
      input,
      textarea { font: 16px/2.0 "LucidaGrande", "Lucida Grande", "Lucida Sans Unicode", lucida, sans-serif; }
      pre { font: 14px/1.5 "Menlo", "Consolas", serif; }
      body {
        padding: 14px;
      }
      label {
        font-weight: bold;
      }
      p.date
      {
        font-size: 70%;
        color: #444;
        margin: 0;
      }
      p.body
      {
        border-top: 1px dashed #999;
        margin: 14px 0 0 0;
        padding: 14px 0 0 0;
      }
      .invalid label
      {
        color: #d00;
      }
    </style>
  </head>
  <body>
    <h1>Vijf Talen in Vijf Dagen</h1>
    <p>
      What do you think about the course so far? What's your favorite part
      of the course and what's your least favorite?
    </p>
    <form action="/" method="post">
      <div<%= @message.errors.on(:body) ? ' class="invalid"' : '' %>>
        <% if @message.errors.on(:body) %>
          <div><label for="message_body"><%= @message.errors.on(:body) %></label></div>
        <% else %>
          <div><label for="message_body">Your message</label></div>
        <% end %>
        <textarea type="text" name="message[body]" id="message_body" cols="30" rows="3"><%= @message.body %></textarea>
      </div>
      <div>
        <input type="submit" value="Post">
      </div>
    </form>
    <% @messages.each do |message| %>
    <div class="message">
      <p class="body"><%=escape_html message.body %></p>
      <p class="date"><%= message.created_at.strftime("%A %B #{message.created_at.day}, %Y at %H:%M") %></p>
    </div>
    <% end if @messages %>
  </body>
</html>